# Import graphlab

In [1]:
import graphlab

# Load csv

In [2]:
f = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create is assigned to f2014053@pilani.bits-pilani.ac.in and will expire on May 26, 2017. For commercial licensing options, visit https://dato.com/buy/.

2016-05-26 22:05:39,130 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1464280537.log

Finished parsing file /home/suyash/Washington Course1/people-example.csv

Parsing completed. Parsed 7 lines in 0.018563 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/suyash/Washington Course1/people-example.csv

Parsing completed. Parsed 7 lines in 0.020693 secs.

In [4]:
f # shows first few lines

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
f.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# Graphlab Canvas

In [6]:
# Add .show after any datastructure in graphlab to see it on canvas
f.show()

Canvas is accessible via web browser at the URL: http://localhost:47594/index.html
Opening Canvas in default web browser.

# Inspect

# Feature Engineering

In [7]:
f['Full Name'] = f['First Name'] + f['Last Name']

In [8]:
f['Full Name']

dtype: str
Rows: 7
['BobSmith', 'AliceWilliams', 'MalcolmJone', 'FelixBrown', 'AlexCooper', 'TodCampbell', 'DerekWard']

# Apply function for advanced data transformation

In [11]:
graphlab.canvas.set_target('ipynb')

In [13]:
f['Country'].show()

In [15]:
def makesamecountry(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [18]:
f['Country'] = f['Country'].apply(makesamecountry)

In [19]:
f['Country'].show()